/paint_calculator/nbproject/private/
/pizza_party/nbproject/private/
/self_checkout/nbproject/private/
/currency_conversion/nbproject/private/
/computing_simple_interest/nbproject/private/
/determining_compound_interest/nbproject/private/
/tax_calculator/nbproject/private/
/password_validation/nbproject/private/